<section id="skills-section" class="container text-center py-5">
    <h1 class="text-warning mb-4">My Skills & Tools</h1>
    <div class="row">
      <div class="col-md-3 mb-3"><a href="https://www.typescriptlang.org/" target="_blank" class="skill-box">TypeScript</a></div>
      <div class="col-md-3 mb-3"><a href="https://socket.io/" target="_blank" class="skill-box">Socket.io</a></div>
      <div class="col-md-3 mb-3"><a href="https://www.postgresql.org/" target="_blank" class="skill-box">PostgreSQL</a></div>
      <div class="col-md-3 mb-3"><a href="https://pm2.keymetrics.io/" target="_blank" class="skill-box">PM2 (Process Manager)</a></div>
      <div class="col-md-3 mb-3"><a href="https://aws.amazon.com/autoscaling/" target="_blank" class="skill-box">Auto Scaling</a></div>
      <div class="col-md-3 mb-3"><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" class="skill-box">JavaScript</a></div>
      <div class="col-md-3 mb-3"><a href="https://www.mongodb.com/" target="_blank" class="skill-box">MongoDB</a></div>
      <div class="col-md-3 mb-3"><a href="https://redis.io/" target="_blank" class="skill-box">Redis</a></div>
      <div class="col-md-3 mb-3"><a href="https://bitbucket.org/product/features/pipelines" target="_blank" class="skill-box">Bitbucket Pipelines</a></div>
      <div class="col-md-3 mb-3"><a href="https://ngrok.com/" target="_blank" class="skill-box">Ngrok</a></div>
      <div class="col-md-3 mb-3"><a href="https://nodejs.org/" target="_blank" class="skill-box">Node.js</a></div>
      <div class="col-md-3 mb-3"><a href="https://www.mysql.com/" target="_blank" class="skill-box">MySQL</a></div>
      <div class="col-md-3 mb-3"><a href="https://mariadb.org/" target="_blank" class="skill-box">MariaDB</a></div>
      <div class="col-md-3 mb-3"><a href="https://www.rabbitmq.com/" target="_blank" class="skill-box">RabbitMQ</a></div>
      <div class="col-md-3 mb-3"><a href="https://git-scm.com/" target="_blank" class="skill-box">Git</a></div>
      <div class="col-md-3 mb-3"><a href="https://react.dev/" target="_blank" class="skill-box">React.js</a></div>
      <div class="col-md-3 mb-3"><a href="https://getbootstrap.com/" target="_blank" class="skill-box">Bootstrap</a></div>
      <div class="col-md-3 mb-3"><a href="https://expressjs.com/" target="_blank" class="skill-box">Express.js</a></div>
      <div class="col-md-3 mb-3"><a href="https://www.microsoft.com/en-us/sql-server" target="_blank" class="skill-box">MSSQL</a></div>
      <div class="col-md-3 mb-3"><a href="https://aws.amazon.com/" target="_blank" class="skill-box">AWS (S3, RDS, SQS, Autoscaling)</a></div>
      <div class="col-md-3 mb-3"><a href="https://microservices.io/" target="_blank" class="skill-box">Microservices</a></div>
      <div class="col-md-3 mb-3"><a href="https://firebase.google.com/" target="_blank" class="skill-box">Firebase</a></div>
      <div class="col-md-3 mb-3"><a href="https://ejs.co/" target="_blank" class="skill-box">EJS</a></div>
    </div>
</section>
